# ----------------
# Data (local only)
# ----------------
data/

# ---------------
# Outputs / logs
# ---------------
trained_models/
wandb/
*.log

# ----------------
# Python artifacts
# ----------------
__pycache__/
*.pyc
.venv/
.conda/


slurm/