[submodule "references/xlstm"]
	path = references/xlstm
	url = https://github.com/NX-AI/xlstm.git
[submodule "references/tiny-gpt"]
	path = references/tiny-gpt
	url = https://github.com/guillaumeBellec/tiny-gpt.git
[submodule "references/nejm-brain-to-text"]
	path = references/nejm-brain-to-text
	url = https://github.com/srothh/nejm-brain-to-text.git
